@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate to <a asp-page="Movies/Index">Movies</a> to view and add movies to the Entertainment Storage database</a>.</p>
</div>
